<main class="main-container">
        <h1>Benviguts a la aplicació {{nomApp}}</h1>
        <p>Fet per David Molina Benitez, per l'aplicació de {{nomApp}} la qual servira per organitzar el dia dia per les persones amb problemes</p>
        <div class="targeta">
          <h2>Targeta del proyecte</h2>
          <ul>
            <li><strong>Desenvolupador:</strong> David Molina Benitez</li>
            <li><strong>Categoria:</strong> Salut</li>
            <li><strong>Versdió:</strong> En preparació</li>
          </ul>
        </div>

        <aside class="nota-aside">
          <p><strong>Estat:</strong> Projecte base llest.</p>
        </aside>
</main>